<%- include('header.ejs'); %>

<div class="container main-container">
  <h1 id="tlv-request-list-title">TLV Request List</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Tag</th>
        <th scope="col">Name</th>
        <th scope="col">Format</th>
        <th scope="col">Length</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <% tlvs.forEach((tlv) => { %>
        <tr class="clickable-row" data-href="<%= '/request/tlv/' + tlv.tag.toString('hex') %>">
          <td><%= tlv.tag %></td>
          <td><%= tlv.name %></td>
          <td><%= tlv.format %></td>
          <td><%= tlv.length %></td>
          <td><%= tlv.description %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<%- include('footer.ejs'); %>